#s{
    /* text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 80%;
    margin-bottom: 10%;
    overflow-y: auto;
    z-index: 0; */
    margin-right: 50%;
    margin-left: 50%;

}